{
  "presets": [["@babel/env", {}], "@babel/react", "@babel/flow"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "presets": ["@babel/env" , "@babel/react"]
    }
  }
}