{

  "env": {
    "server": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-runtime",
        "dynamic-import-node"
      ]
    },
    "universal": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-runtime",
        "dynamic-import-node",
        "@babel/plugin-transform-flow-strip-types"

      ]
    },
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/plugin-transform-flow-strip-types"
      ]
    }
  }
}