@import "../../styles/variables";
.post-item{
  margin-top: 40px;
  &__info{
    display:flex;
    flex-direction: column;
    padding: 10px;
    * {
      margin-bottom: 10px;
    }
    :nth-last-child(1){
      margin: 0;
    }
    &__date{
      a{
        color: $grey !important;
        font-size: 0.9rem !important;
      }
    }
  }
}